<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
</head>
<body>

<h2>Demo of issue</h2>
<h3>In a partial: problems with runtime</h3>
{{ partial:partials/nav }}

<div {{ if config:statamic:antlers:version == 'runtime' }}style="color:red !important;"{{ /if }}>
    {{ partial:partials/nav }}
</div>

<h3>With the cache tag in the partial, no problems</h3>
{{ partial:partials/cached_nav }}

{{ partial:partials/cached_nav }}

<h3>In the same file, no problems</h3>
<ul>
    {{ nav:menu }}
    <li>
        <span>{{ title }} - {{ depth }}</span>

        {{ if children }}
        <ul>{{ *recursive children* }}</ul>
        {{ /if }}
    </li>
    {{ /nav:menu }}
</ul>

<ul>
    {{ nav:menu }}
    <li>
        <span>{{ title }} - {{ depth }}</span>

        {{ if children }}
        <ul>{{ *recursive children* }}</ul>
        {{ /if }}
    </li>
    {{ /nav:menu }}
</ul>

<div>
    <h2>Issue</h2>
    <p>When using the <strong>"runtime"</strong> engine, a re-used nav in a partial has the incorrect depth.</p>
    <p>If the internal of the partial is wrapped in a cache tag, the issue is not present.</p>
    <p>If the engine is switched to <strong>"regex"</strong>, the issue is not present.</p>
    <p>Change the runtime engine in the config to see the difference. The expected output is below.</p>
</div>

<div>
    <h2>Expected Output</h2>

    <h3>In a partial: problems with runtime</h3>
    <ul>
        <li>
            <span>Home - 1</span>
            <ul>
                <li>
                    <span>Another Page - 2</span>
                    <ul>
                        <li>
                            <span>A third page - 3</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <span>Home - 1</span>
            <ul>
                <li>
                    <span>Another Page - 2</span>
                    <ul>
                        <li>
                            <span>A third page - 3</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>With the cache tag in the partial, no problems</h3>
    <ul>
        <li>
            <span>Home - 1</span>
            <ul>
                <li>
                    <span>Another Page - 2</span>
                    <ul>
                        <li>
                            <span>A third page - 3</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <span>Home - 1</span>
            <ul>
                <li>
                    <span>Another Page - 2</span>
                    <ul>
                        <li>
                            <span>A third page - 3</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>In the same file, no problems</h3>
    <ul>
        <li>
            <span>Home - 1</span>
            <ul>
                <li>
                    <span>Another Page - 2</span>
                    <ul>
                        <li>
                            <span>A third page - 3</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <span>Home - 1</span>
            <ul>
                <li>
                    <span>Another Page - 2</span>
                    <ul>
                        <li>
                            <span>A third page - 3</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</div>

</body>
</html>
